<fieldset>
  <legend>Authorization Consent</legend>
  <h3>Appointments</h3> 

	<p id="notice_5">We value your time so you can expect us to see you at the appointed time and to keep your time spent in our office as short as possible. In return, when you make an appointment with us please be on time since we have reserved our time just for you. Please make every effort not to change your scheduled appointment. If you must change an appointment, please provide us at least <b>2 working days advanced notification</b> so that we may use our time to accommodate other patients. Broken and missed appointments create scheduling problems for other patients and our practice. We value your time, please value ours.
    </p>

  <h3>Financial Policy</h3>
  <p id="notice_5_nobgc">Unless another financial option is PRE-ARRANGED, payment in full is due the day of treatment, or on pre-op visits for sedation appointments. Should a patient have dental insurance with assignment to Dr. Buehler, the estimated patient portion will be the amount due. Insurance payments without assignment will be sent to the insured with payment due in full.
</p>
  <h4>Payment Options</h4>
  <ul id="number">
	<li>For your convenience we accept Cash, Check, Visa, MasterCard, Amex & Discover.</li>
	<li>We also offer short and long-term financing options. (Interest-free options may apply)</li>
  </ul>

  <h4>For Patients with Dental Insurance</h4>
  <p id="notice_5_nobgc">Dental insurance plans often pay less than the actual fee for service, therefore the patient or Guarantor is the responsible party for all dental services provided. Dental insurance in most cases is a benefit with limitations and should not be expected to take care of all costs. Your dental benefits and how they relate to your specific needs will be explained to you during the Treatment Discussion appointment. </p>
  <h4>Finance Charges and Fees</h4>
  <ul id="nonumber">
	<li>Balances in excess of 60 days are subject to a finance charge of 1.5% per month (18% annual).</li>
	<li>Returned checks are subject to a $15 accounting fee.</li>
  </ul>

  <h3>Authorization & Consent</h3>

  <h4>General Consent to Treatment</h4>
  <p id="notice_5_nobgc">I agree and consent to a dental examination by Dr. Buehler. I understand that additional diagnostic procedures and dental treatments may be recommended and will be discussed with me prior to being done. Also, I acknowledge that there are no guarantees, expressed or implied, as to the results of any procedures or dental treatments performed.
 </p>
  <h4>Release of Information</h4>
  <p id="notice_5_nobgc">I authorize <%=doc_name%>to release any information regarding my dental/medical history, diagnosis or treatment to third party payors and/or other health professionals.</p>
  <h4>Assignment of Insurance Benefits</h4>
  <p id="notice_5_nobgc">I authorize and request my insurance company to pay my benefits directly to <%=doc_name%>
  <h4>Photography Release</h4>
  <p id="notice_5_nobgc">I authorize <%=doc_name%> to take photographs of me to help me better understand my current dental condition and possible treatment options. I also authorize him to show these photographs to other patients to better explain their treatment options<p>


  <div id="signatures_before">
	<ol>
	  <li>I understand and will comply with office <b>Appointment Policy</b></li>
	  <li>I understand and will comply with the office <b>Financial Policy</b></li>
	  <li>I understand and agree to the <b>General Consent to Treatment</b></li>
	  <li>I authorize the <b>Release of Information</b></li>
	  <li>I authorize <b>Photographs</b> to be taken of me and show to other patients</li>
	</ol>
  </div>


  <h3>Notice of Privacy for Proctected Human Information</h3>
  <p id="notice_5_nobgc">I hereby acknowledge that I received a copy of this practice's Notice of Privacy Practices. I understand that I may ask any questions I might have regarding this notice</p>

  <table id="signature">
    <tr>
      <td width="70%">
      <%= f.input :signature, :required=>true, :label=>false%>
      </td>
      <td>
      <%= f.input :signature_date, :required=>true, :label=>false%>
      </td>
    </tr>
    <tr>
    <td><p class="sig">Bhaarat Sharma</p></td>
    <td><p class="sig"><%=Date.today.to_s%></p></td>
    </tr>

    </tr>
  </table>
  <div id="signatures">
  </div>
  <div style="clear:both"></div>
</fieldset>
