<%= simple_form_for @medicalhistory do |f| %>
<div class="D_boxsection step-section ">
		<div class="D_boxcols divby5">
				<div class="D_col spans1">
					<div class="D_colbody">
						<div id="step_basics" class="D_step <%if @medicalhistory.current_step.eql?("about") %>D_selectedStep <% else %> D_futureStep <%end%>">
								<div class="stepHead">
										<span class="stepNum">1</span>
										<span class="stepName">Personal Information</span>
								</div>
						</div>
					</div>
				</div>
				<div class="D_col spans1">
					<div class="D_colbody">
						<div id="step_theme" class="D_step <%if @medicalhistory.current_step.eql?("insurance") %>D_selectedStep <% else %> D_futureStep <%end%>">
								<div class="stepHead">
										<span class="stepNum">2</span>
										<span class="stepName">Insurance Information</span>
								</div>
						</div>
					</div>
				</div>
				<div class="D_col spans1">
					<div class="D_colbody">
						<div id="step_theme" class="D_step <%if @medicalhistory.current_step.eql?("medical") %>D_selectedStep <% else %> D_futureStep <%end%>">
								<div class="stepHead">
										<span class="stepNum">3</span>
										<span class="stepName">Medical History</span>
								</div>
						</div>
					</div>
				</div>
				<div class="D_col spans1">
					<div class="D_colbody">
						<div id="step_subscribe" class="D_step <%if @medicalhistory.current_step.eql?("dental") %>D_selectedStep <% else %> D_futureStep <%end%>">
								<div class="stepHead">
										<span class="stepNum">4</span>
										<span class="stepName">Dental Health</span>
								</div>
						</div>
					</div>
				</div>
				<div class="D_col spans1">
					<div class="D_colbody">
						<div id="step_members" class="D_step <%if @medicalhistory.current_step.eql?("consent") %>D_selectedStep <% else %> D_futureStep <%end%>">
								<div class="stepHead">
										<span class="stepNum">5</span>
										<span class="stepName">Authorization Consent</span>
								</div>
						</div>
					</div>
				</div>
</div>
<%=f.error_messages%>
	<%= render "#{@medicalhistory.current_step}_step", :f => f %>
	<p><%= f.submit "Continue" %></p>
    <p><%= f.submit "Back", :name => "back_button" unless @medicalhistory.first_step? %></p>
<% end %>

