<fieldset>
  <legend>Medical History</legend>
	<%= f.input :physician_name, :label=>"Physicians Name", :required=>false, :input_html => {:title => "came here"}%>
    <%= f.input :medical_conditions, :label=>false, :collection => medical_conditons, :as => :check_boxes%>
    <p class="line">* This condition may require antibiotic premedication for certain dental procedures</p>

	<p id="question">Do you have any health problems that were not listed above or need further clarification?</p>
	<%= f.input :other, :label=>false, :collection => %w{Yes No}, :as => :radio%> 
	<p id="explain">If yes, explain:</p> <%= f.input :other_yes, :label=>false, :input_html => {:size => 55}%>

	<p id="question">Are you now under care of a physician?</p>
	<%= f.input :physicial_care, :label=>false, :collection => %w{Yes No}, :as => :radio%> 
	<p id="explain">If yes, explain:</p> <%= f.input :physicial_yes, :label=>false, :input_html => {:size => 55}%>

	<p id="question">Have you been admitted to a hospital or needed emergency care during the past two years?</p>
	<%= f.input :hospital_admitted, :label=>false, :collection => %w{Yes No}, :as => :radio%> 
	<p id="explain">If yes, explain:</p> <%= f.input :hospital_yes, :label=>false, :input_html => {:size => 55}%>

	<p id="question">Are you taking any medications or herbals?</p>
	<%= f.input :medications, :label=>false, :collection => %w{Yes No}, :as => :radio%> 
	<p id="explain">If yes, explain:</p> <%= f.input :medications_yes, :label=>false, :input_html => {:size => 55}%>

	<p id="question">Are you allergic to any medicaitons or substances?</p>
	<div style="float: left;">
	<%= f.input :allergic, :label=>false,:collection => %w{Aspirin Penicillin Iodine Metal	Latex Other}, :as => :check_boxes%> </div>
	<%= f.input :allergic_yes, :label=>false, :input_html => {:size => 25}%>

	<p id="question">Have you used tobacco?</p>
	<%= f.input :tobacco, :label=>false, :collection => %w{Yes No}, :as => :radio%> 
	<p id="explain">If yes, explain types of usage (cigarettes, cigar, chewing tobacco eg):</p> <%= f.input :tobacco_yes, :label=>false, :input_html => {:size => 55}%>

	<p id="question">Women</p>
<%= f.input :women, :collection => women_options, :as => :check_boxes, :label=>false%> 
</fieldset>








