
<table id="line_items">
  <tr>
    <th>Patient Name</th>
    <th>View</th>
    <th>Update</th>
    <th>Remove</th>
    <th>Download</th>
  </tr>
  <% for medicalhistory in @medicalhistories %>
    <tr class="<%= cycle :odd, :even%>">
      <td style="width: 354px;"><%= medicalhistory.fname %></td>
      <td><%= link_to "Show", medicalhistory %></td>
      <td><%= link_to "Edit", edit_medicalhistory_path(medicalhistory) %></td>
      <td><%= link_to "Delete", medicalhistory, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to "PDF", medicalhistory_path(medicalhistory, :format => "pdf")%></td>
    </tr>
  <% end %>
</table>

