	<fieldset>
	  <legend>ABOUT YOU</legend>
			<div class="row">
				<div class="data">
				  <label>Name</label> <p><%=@medicalhistory.fname %></p>
				</div>
				<div class="data">
				  <label class="large">Preferred Name</label> <p><%=@medicalhistory.lastname%></p>
				</div>
				<div class="data">
				  <label>Sex</label> <p><%=@medicalhistory.sex%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label>Marital</label> <p><%=@medicalhistory.marital%></p>
				</div>
				<div class="data">
				  <label class="small">Birth Date</label> <p><%=@medicalhistory.dob%></p>
				</div>
				<div class="data">
				  <label class="smaller">Age</label> <p><%=@medicalhistory.age%></p>
				</div>
				<div class="data">
				  <label class="smaller">S.S#</label> <p><%=@medicalhistory.ssn%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label class="large">Home Address</label> <p><%=@medicalhistory.address%></p>
				</div>
				<div class="data">
				  <label class="smaller">City</label> <p><%=@medicalhistory.city%></p>
				</div>
				<div class="data">
				  <label class="smaller">State</label> <p><%=@medicalhistory.state%></p>
				</div>
				<div class="data">
				  <label class="smaller">Zip</label> <p><%=@medicalhistory.zip%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label class="large">Home Phone</label> <p><%=@medicalhistory.home_phone%></p>
				</div>
				<div class="data">
				  <label class="large">Work Phone</label> <p><%=@medicalhistory.biss_phone%></p>
				</div>
				<div class="data">
				  <label>Pager</label> <p><%=@medicalhistory.pager%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label class="large">Cell Phone</label> <p><%=@medicalhistory.cell_phone%></p>
				</div>
				<div class="data">
				  <label class="large">Email</label> <p><%=@medicalhistory.email%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label class="large">Employer</label> <p><%=@medicalhistory.emp%></p>
				</div>
				<div class="data">
				  <label class="large">How long there?</label> <p><%=@medicalhistory.emp_term%></p>
				</div>
				<div class="data">
				  <label>Occupation</label> <p><%=@medicalhistory.occupation%></p>
				</div>
			</div>
			<div class="row">
				<div class="data">
				  <label class="large">Employee Address</label> <p><%=@medicalhistory.emp_address%></p>
				</div>
				<div class="data">
				  <label class="smaller">City</label> <p><%=@medicalhistory.emp_city%></p>
				</div>
				<div class="data">
				  <label class="smaller">State</label> <p><%=@medicalhistory.emp_state%></p>
				</div>
				<div class="data">
				  <label class="smaller">Zip</label> <p><%=@medicalhistory.emp_zip%></p>
				</div>
			</div>
		</legend>
	  </fieldset>
