<% if require_loc_admin.present? %>

<div class="group">
  <div class="wide_box">
    <div class="inner">
<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <table border="">
    <tr>
      <td><%= f.label :name %></td> 
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :address %></td> 
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td><%= f.label :phone %></td> 
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label :day_tokens, "Available Days"%></td> 
      <td><%= f.text_field :day_tokens, "data-pre" => @location.dayavailables.map(&:attributes).to_json%></td>
    </tr>
    <tr>
      <td><%= f.label :dentistry_id %></td> 
      <td><%= select("location", "dentistry_id", Dentistry.all.collect {|p| [p.name, p.id]})%></td>
    </tr>
    <tr>
      <td><%= positive_button_submit_tag "Submit"%></td> 
    </tr>
  </table>
<% end %>
    </div>
  </div>
</div>
<% end %>

