<% title "Locations" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Hours</th>
    <th>Dentistry</th>
  </tr>
  <% for locations in @locations %>
    <tr>
      <td><%= locations.name %></td>
      <td><%= locations.address %></td>
      <td><%= locations.phone %></td>
      <td><%= locations.hours %></td>
      <td><%= locations.dentistry_id %></td>
      <td><%= link_to "Show", locations %></td>
      <td><%= link_to "Edit", edit_location_path(locations) %></td>
      <td><%= link_to "Destroy", locations, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Locations", new_location_path %></p>
