<% title "Locations" %>

<p>
  <strong>Name:</strong>
  <%= @locations.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @locations.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @locations.phone %>
</p>
<p>
  <strong>Hours:</strong>
  <%= @locations.hours %>
</p>
<p>
  <strong>Dentistry:</strong>
  <%= Dentistry.find(@locations.dentistry_id).name %>
</p>

<p>
  <%= link_to "Edit", edit_location_path(@locations) %> |
  <%= link_to "Destroy", @locations, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %>
</p>
