
<div class="group">
  <div class="wide_box">
    <div class="inner">
      <table>
        <tr>
          <td><label>Name</label></td>
          <td><%=@location.name%></td>
        </tr>
        <tr>
          <td><label>Address</label></td>
          <td><%=@location.address%></td>
        </tr>
        <tr>
          <td><label>Phone</label></td>
          <td><%=@location.phone%></td>
        </tr>
        <tr>
          <td><label>Availables Days</label></td>
          <td>
  <ul>
  <%for dayavailable in  @location.dayavailables%>
    <li><%=dayavailable.name%></li>
  <% end %>
  </ul></td>
        </tr>
        <tr>
          <td><label>Dentistry</label></td>
          <td><%= Dentistry.find(@location.dentistry_id).name %></td>
        </tr>
        <tr><td> <%= link_to "Edit", edit_location_path(@location) %>  </td></tr>
  </div>
</div>
</div>
